{% extends 'layout.html' %}

{% block title %}
Activities | Phi Kappa Theta
{% endblock %}

{% block nav %}
	<a href="/about"><li>About</li></a>
	<a href="/rush"><li>Rush</li></a>
	<a href="/brothers"><li>Brothers</li></a>
	<a href="/house"><li>House</li></a>
	<a href="/activities"><li class="active">Activities</li></a>
{% endblock %}


{% block banner %}
<img src="/static/img/party.jpg">
{% endblock %}


{% block sidebar %}
	<a href="/activities"><li>Introduction</li></a>
	<a href="/academics"><li class="active">Academics</li></a>
	<a href="/social"><li>Social Events</li></a>
	<a href="/community"><li>Community Service</li></a>
	<a href="/brotherhood"><li>Brotherhood Events</li></a>
	<a href="/athletics"><li>Athletics</li></a>
	<a href="/houseprojects"><li>House Projects</li></a>
{% endblock %}


{% block page-content %}

<div class="about">
				<h3>Academics</h3>
				<h5>Activities</h5>
				<h6>MIT</h6>
				<p>Unfortunately, life at MIT isn't all fun and games. We all decided to attend MIT because it is one of the top schools in the country. For that reason, we take our school work seriously at Phi Kappa Theta. With brothers majoring in almost every field, some of us are engineers...and well, some of us aren't, but no matter what field, someone is always willing to help. PKT has made the FSILG Honor Roll for four of the last five semesters.</p>
				<h6>Bible Closet</h6>
				<p>Our bible closet is fully stocked with texts and notebooks from years past. Also, many of the upperclassmen have books and course bibles which can be borrowed. It is also common for freshmen to go to any of the upperclassmen for help as we are almost always willing to provide assistance with problem sets or advice on class and major selection.</p>
				<h6>Tutoring</h6>
				<p>Our Scholarship Chair helps with reminders for major academic deadlines, finding tutors or study groups, and general study skills. Every year a fair number of brothers serve as tutors and TAs for various classes; so, we don't hesitate to ask for their help; it's their job! In addition, there is a mandatory time management seminar for the associate members.</p>
			</div>


{% endblock %}
