{% extends 'layout.html' %}

{% block title %}
Activities | Phi Kappa Theta
{% endblock %}

{% block nav %}
	<a href="/about"><li>About</li></a>
	<a href="/rush"><li>Rush</li></a>
	<a href="/brothers"><li>Brothers</li></a>
	<a href="/house"><li>House</li></a>
	<a href="/activities"><li class="active">Activities</li></a>
{% endblock %}


{% block banner %}
<img src="/static/img/party.jpg">
{% endblock %}


{% block sidebar %}
	<a href="/activities"><li>Introduction</li></a>
	<a href="/academics"><li>Academics</li></a>
	<a href="/social"><li>Social Events</li></a>
	<a href="/community"><li>Community Service</li></a>
	<a href="/brotherhood"><li>Brotherhood Events</li></a>
	<a href="/athletics"><li class="active">Athletics</li></a>
	<a href="/houseprojects"><li>House Projects</li></a>
{% endblock %}


{% block page-content %}

<div class="about">
				<h3>Athletics</h3>
				<h5>Activities</h5>
				<h6>Pride</h6>
				<p>Despite the academic demands of a school like MIT, about 25% of the house finds time to show off their skills. And for those of us who aren't on the team, nothing's better than getting out of class and supporting a brother and the MIT team. Whatever it is, you're sure to see a Phi Kap on the team.</p>
				<h6>Varsity Athletes</h6>
				<p>Phi Kaps are a dominant presence in all kinds of Varsity sports. From football to volleyball, brothers devote their time and effort to MIT Athletics. Two brothers, Brian Anderson '04 and Ben Schmeckpeper '05, have distinguished themselves as NCAA All-Americans. Just one example of the dedication Phi Kaps put into their sports.</p>
				<h6>Fun and Games</h6>
				<p>IM sports are the chance to put your skills to the test, without the commitment that comes along with a varsity sport; no pressure, just fun. Whomever you are, and whatever you're interested in, there's an intramural league for it at MIT. And chances are, we've got a team of guys just waiting for that season to start.</p>
				<h6>Championships</h6>
				<p>PKT throws its hat into the ring in countless IM sports with much success. In recent years we've brought home championships in basketball, football, softball, bowling, frisbee, and tennis.
				<h6>Intramural Teams</h6>
				<p>Everyone at the house finds some team to play on, from the comical D-league ice hockey team to the aquatically-challenged D-league water polo squad. We currently field teams in A-league tennis and bowling, B-league football, basketball, softball, ping-pong, and billiards, C-league soccer, and D-league ice hockey and water polo.</p>
				<h6>Other Athletics</h6>
				<p>Also, many of our brothers participate in athletics outside of MIT. For example, Phil spent this past summer teaching tennis at a camp for inner city kids. Following what is now a tradition, brothers often participate in the Boston Marathon. And of course, there are the many spontaneous trips to Boston Common for quick games of softball or football.</p>
			</div>


{% endblock %}
