{% extends 'layout.html' %}

{% block title %}
Activities | Phi Kappa Theta
{% endblock %}

{% block nav %}
	<a href="/about"><li>About</li></a>
	<a href="/rush"><li>Rush</li></a>
	<a href="/brothers"><li>Brothers</li></a>
	<a href="/house"><li>House</li></a>
	<a href="/activities"><li class="active">Activities</li></a>
{% endblock %}


{% block banner %}
<img src="/static/img/party.jpg">
{% endblock %}


{% block sidebar %}
	<a href="/activities"><li>Introduction</li></a>
	<a href="/academics"><li>Academics</li></a>
	<a href="/social"><li>Social Events</li></a>
	<a href="/community"><li class="active">Community Service</li></a>
	<a href="/brotherhood"><li>Brotherhood Events</li></a>
	<a href="/athletics"><li>Athletics</li></a>
	<a href="/houseprojects"><li>House Projects</li></a>
{% endblock %}


{% block page-content %}

<div class="about">
				<h3>Community Service</h3>
				<h5>Activities</h5>
				<h6>"Give, Expecting Nothing Thereof"</h6>
				<p>As MIT students, we have plenty of knowledge and experience to benefit our surroundings as well as the youth and energy to put that to use. And with our motto "Give, expecting nothing thereof", we all strive to improve our community. Whether in Boston or in Cambridge, at MIT or afar, we Phi Kaps are always ready to serve.</p>
				<h6>Large Scale Events</h6>
				<p>From events, such as MIT City Days, Back Bay Alley Rally, Boston Walk for Hunger, Boston Food Bank, MIT Freshmen Urban Program, working at the MIT Public Service Center, volunteering at Nursing Homes, and Project SCORE (yes, it's really a service event), Phi Kaps dedicate their time and energy to aiding those in need.</p>
				<h6>MIT World Series of Poker</h6>
				<p>Our premier philantropy fundraising event involves stacks of chips, decks of cards, and faces of stoic proportions. The name of the game is No-Limit Texas Hold-em, and we run this annual poker tournament with the Delts. Last year, we gave away over $2000 in donated prizes to our players and generated over $1000 in proceeds, all of which were donated to our philantropy: Children's Miracle Network.</p>
				<h6>Individual Events</h6>
				<p>It's not uncommon to see a brother tutoring others in the dining room or helping disadvantaged kids in a downtown elementary school. Brothers always find creative ways to give of ourselves, knowing that the only satisfaction is seeing the happiness of others.</p>
				<h6>Community Mixers</h6>
				<p>In addition, we strive to maintain strong relations with our neighbors and in our community. During neighborhood mixers, we not only meet our friends but also show them what an MIT fraternity is all about.</p>
			</div>


{% endblock %}
