{% extends 'layout.html' %}

{% block title %}
Activities | Phi Kappa Theta
{% endblock %}

{% block nav %}
	<a href="/website/about"><li>About</li></a>
	<a href="/website/rush"><li>Rush</li></a>
	<a href="/website/brothers"><li>Brothers</li></a>
	<a href="/website/house"><li>House</li></a>
	<a href="/website/activities"><li class="active">Activities</li></a>
{% endblock %}


{% block banner %}
<img src="/static/img/party.jpg">
{% endblock %}


{% block sidebar %}
	<a href="/website/activities"><li>Introduction</li></a>
	<a href="/website/academics"><li>Academics</li></a>
	<a href="/website/social"><li>Social Events</li></a>
	<a href="/website/community"><li>Community Service</li></a>
	<a href="/website/brotherhood"><li>Brotherhood Events</li></a>
	<a href="/website/athletics"><li>Athletics</li></a>
	<a href="/website/houseprojects"><li class="active">House Projects</li></a>
{% endblock %}


{% block page-content %}

<div class="about">
				<h3>House Projects</h3>
				<h5>Activities</h5>
				<h6>Front Stairs</h6>
				<p>To open up First Front, we decided to take out the wall with the large white board. Then, we curved the steps around to make it move inviting for our guests to go upstairs.</p>
				<h6>First Front Ceiling</h6>
				<p>Because of the new stairs, the drop ceiling had to be removed from the bar area. We decided to restore the original ceiling, and we had the pipes rerouted to above the bar. As this workweek was close to rush, we were pressed for time, but ultimately, the big "botch" occurred on the first day of Rush 2003. For details, ask Ladd Horvath '05.</p>
				<h6>4th Bath Mural</h6>
				<p>The talented PKT Team Mural set its sights upon the underwater mural in 4th bath and transformed the room into a Dr. Suess world. Now you can watch Horton Hatch the Doublay as you hatch one yourself.</p>
			</div>


{% endblock %}
