{% extends 'layout.html' %}

{% block title %}
Activities | Phi Kappa Theta
{% endblock %}

{% block nav %}
	<a href="/about"><li>About</li></a>
	<a href="/rush"><li>Rush</li></a>
	<a href="/brothers"><li>Brothers</li></a>
	<a href="/house"><li>House</li></a>
	<a href="/activities"><li class="active">Activities</li></a>
{% endblock %}


{% block banner %}
<img src="/static/img/party.jpg">
{% endblock %}


{% block sidebar %}
	<a href="/activities"><li>Introduction</li></a>
	<a href="/academics"><li>Academics</li></a>
	<a href="/social"><li class="active">Social Events</li></a>
	<a href="/community"><li>Community Service</li></a>
	<a href="/brotherhood"><li>Brotherhood Events</li></a>
	<a href="/athletics"><li>Athletics</li></a>
	<a href="/houseprojects"><li>House Projects</li></a>
{% endblock %}


{% block page-content %}

<div class="about">
				<h3>Social Events</h3>
				<h5>Activities</h5>
				<h6>Taking a Break from MIT</h6>
				<p>As with all fraternities, PKT is a social organization. We recognize the need to take a break from MIT. After all, there is more to college than academics. To help us enjoy these years, we fill our social calendar with a healthy balance of social events.</p>
				<h6>Social Hours</h6>
				<p>These are the backbone of Phi Kappa Theta's social calendar as they occur every Friday, and have a pre-party and post-party type atmosphere. Often they have themes like swing dancing, smoothies, or karaoke, which give a lot of versatility in providing a varied social atmosphere, but the important part is just hanging out, having fun, and meeting some new people or catching up with old friends.</p>
				<h6>PKT Parties</h6>
				<p>We throw both open and closed dance parties where we meet college students from schools all over the Boston area including Wellesley, Harvard, BU, Simmons, and others. Keep your eyes peeled for our party posters all around MIT campus and other campus in the Boston area.</p>
				<h6>Formal Events</h6>
				<p>Let's face it, girls like to get dressed up and go out. So, once a term, we oblige their desires and take out our girlfriends, potential girlfriends, or just friends. Usually, this includes dinner and some other activity such as Blue Man Group, a harbor cruise, or an improvisational comedy show, but it's always a lot of fun.</p>
				<h6>Mixers</h6>
				<p>The primary goal of mixers is meet and get to know a variety of girls, whether they're from a sorority at MIT, a Wellesley society, or any other group of girls from another college. Typically, we have a couple mixers at the beginning of the year, and then one or two more over the rest of the year.</p>
				<h6>BBQs</h6>
				<p>Barbecues are always a nice way to just hang out and relax. So, from time to time we'll have barbecues, often spontaneously, and just chill with our brothers and friends on our roof deck, enjoying the weather and the view of Boston and the Commonwealth Avenue Mall.</p>
			</div>


{% endblock %}
