{% extends 'layout.html' %}

{% block title %}
About | Phi Kappa Theta
{% endblock %}

{% block nav %}
	<a href="/website/about"><li class="active">About</li></a>
	<a href="/website/rush"><li>Rush</li></a>
	<a href="/website/brothers"><li>Brothers</li></a>
	<a href="/website/house"><li>House</li></a>
	<a href="/website/activities"><li>Activities</li></a>
{% endblock %}

{% block banner %}
<img src="/static/img/motto.jpg">
{% endblock %}

{% block sidebar %}
	<a href="/website/about"><li>About Mass Eta</li></a>
	<a href="/website/national"><li>National History</li></a>
	<a href="/website/ideals"><li>The Four Ideals</li></a>
	<a href="/website/motto"><li class="active">Our Motto</li></a>
{% endblock %}


{% block page-content %}

<div class="about">
				<h3>Our Motto</h3>
				<h5>About Us</h5>

				<h6>Give, Expecting Nothing Thereof</h6>
				<p>Phi Kappa Theta’s motto reflects the founding ideals and purposes of the organization.</p>

			</div>


{% endblock %}
