{% extends 'layout.html' %}

{% block title %}
Brothers | Phi Kappa Theta
{% endblock %}

{% block nav %}
	<a href="/website/about"><li>About</li></a>
	<a href="/website/rush"><li>Rush</li></a>
	<a href="/website/brothers"><li class="active">Brothers</li></a>
	<a href="/website/house"><li>House</li></a>
	<a href="/website/activities"><li>Activities</li></a>
{% endblock %}

{% block banner %}
<img src="/static/img/seventeens.jpg">
{% endblock %}

{% block sidebar %}
	<a href="/website/brothers"><li>Men of PKT</li></a>
	<a href="/website/fifteens"><li>Class of 2015</li></a>
	<a href="/website/sixteens"><li>Class of 2016</li></a>
	<a href="/website/seventeens"><li class="active">Class of 2017</li></a>
{% endblock %}

{% block page-content %}

<div class="about">
				<h3>Class of 2017</h3>
				<h5>Men of Value</h5>
				<p>
				We r cool
				</p>
			</div>


{% endblock %}
