{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block title %}
MIT Phi Kappa Theta | Mass Eta
{% endblock %}

{% block content %}

<div id="wrapper">
	<ul id="mask">
		<li id="index" class="box">
			<a name="index"></a>
			<div class="filler" id="crest-filler"></div>
			<div class="container">

				<div id="crest">
					<a href="/about"><img src="/static/img/crest.png"/></a>
				</div>
				<div id="title-h1">
					<h1>MIT Phi Kappa Theta</h1>
				</div>
				<div id="title-h2">
					<h2>Mass Eta</h2>
				</div>
			</div>
			<a href="#about"><img src="/static/img/white-arrow.png" id="arrow1r" class="arrowr"/></a>
		</li>
		<li class="box"></li>
		<li id="about" class="box">
			<a name="about"></a>
			
			
			<div class="container">
				<div class="filler"></div>
				<div class="contents">
					<h4>About</h4>
					<div class="description">
						<h3>Lorem ipsum filler text here. Insert description here. We are cool. Join our frat. Lorem ipsum insert more text here. Learn more about us on our website. Rush us or something like that. We have a cool house with a cool pool table and other stuff.</h3>

						<a href="/about">
							<div class="learnmore"><h1>More about us</h1></div>
						</a>
					</div>
				</div>

			</div>
			<a href="#index"><img src="/static/img/white-arrow2.png" id="arrow2l" class="arrowl"/></a>
			<a href="#rush"><img src="/static/img/white-arrow.png" id="arrow2r" class="arrowr"/></a>
		</li>
		<li class="box"></li>
		<li id="rush" class="box">
			<a name="rush"></a>
			
			<div class="container">
				<div class="filler"></div>
				<div class="contents">
					<h4>Rush</h4>
					<div class="description">
						<h3>Lorem ipsum filler text here. Insert description here. We are cool. Join our frat. Lorem ipsum insert more text here. Learn more about us on our website. Rush us or something like that. We have a cool house with a cool pool table and other stuff.</h3>
						<a href="/rush">
							<div class="learnmore"><h1>rush schedule</h1></div>
						</a>

					</div>

				</div>
			</div>
			<a href="#about"><img src="/static/img/white-arrow2.png" id="arrow3l" class="arrowl"/></a>
			<a href="#more"><img src="/static/img/white-arrow.png" id="arrow3r" class="arrowr"/></a>
		</li>
		<li class="box"></li>
		<li id="more" class="box">
			<a name="more"></a>
			<div class="container">
				<div class="filler"></div>
				<div class="contents">
					<h4>Learn more</h4>
					<div class="description">
						<h3>Lorem ipsum filler text here. Insert description here. We are cool. Join our frat. Lorem ipsum insert more text here. Learn more about us on our website. Rush us or something like that. We have a cool house with a cool pool table and other stuff.</h3>
						<a href="/brothers">
							<div class="learnmore"><h1>Check us out</h1></div>
						</a>
					</div>
				</div>
			</div>
			<a href="#rush"><img src="/static/img/white-arrow2.png" id="arrow4l" class="arrowl"/></a>
			<a href="#contact"><img src="/static/img/white-arrow.png" id="arrow4r" class="arrowr"/></a>
		</li>
		<li class="box"></li>
		<li id="contact" class="box">
			<a name="contact"></a>
			<div class="container">
				<div class="filler" id="contact-filler"></div>
				<div class="contents">
					<h4>Contact us</h4>
					<div class="description">
						<h3>Want to learn more about our brotherhood? Drop us a line!</h3>
						<a href="mailto:pkt-exec@mit.edu">
							<div class="learnmore"><h1>Contact</h1></div>
						</a>
					</div>
				</div>
			</div>
			<a href="#more"><img src="/static/img/white-arrow2.png" id="arrow5l" class="arrowl"/></a>
		</li>

</ul>
</div>

{% endblock %}

{% block scripts %}
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
{% endblock %}
