{% extends 'base.html' %}

{% block title %}
MIT Phi Kappa Theta | Mass Eta
{% endblock %}

{% block content %}
	<section id="main">
		<div class="container">
			<div id="crest">
				<img src="/static/img/crest.png"/>
			</div>
			<div id="title-h1">
				<h1>MIT Phi Kappa Theta</h1>
			</div>
			<div id="title-h2">
				<h2>Mass Eta</h2>
			</div>
		</div>
	</section>
	<section id="main-about">
		About us
	</section>

	<section id="main-rush">
		Rush 
	</section>

	<section id="">

	</section>

{% endblock %}
