@import 'constants';

body, html {
	height:100%;
	padding: 0;
	margin: 0;

}

section#main {
	width: 100vw;
	height: 100vh;
	background-color: $deep-red;


}



section#layout {
	width:100vw;
	background-color:#fff;

	.content {
		margin-left:auto;
		margin-right:auto;
		width:75vw;
		height:100%;
		background-color:#fff
	}

	.banner {
		height:auto;
		width:75vw;
		background-color:#fff;
		clear:both;

		img {
			width:100%;
			max-height:100%;
		}
	}

	.span3 {
		width:14vw;
	}

	.about {
		position: relative;
		margin-left:auto;
		margin-right:auto;
		font-family: "Open Sans", sans-serif;
		width:50vw;
		padding: 50px 0 30px 15px;
		line-height:1.6em;
		font-size:1.1em;

		h3 {
			text-transform:uppercase;
			font-family:"Raleway",sans-serif;
			font-weight:600;
			letter-spacing:2.5px;
			text-align:center;
		}

		h4 {
			@extend h3;
			text-align:left;
			font-weight:600;
			font-size:1.1em;
			line-height:2px;
		}

		h5 {
			@extend h3;
			font-weight:400;
			font-size:1.1em;
			line-height:2px;
			margin-bottom:40px;
		}

		h6 {
			@extend h3;
			font-size:1.1em;
			text-align:left;
			font-weight:700;
			line-height:1em;
			padding-top:15px;
		}

		h7 {
			font-size:1em;
		}

		p {
			margin:20px 0 20px 0;
		}

		.row {
			margin: 20px 0 5px 0;
		}

		.span2 {
			width:9vw;
		}

		#day-nav {
			text-align:center;
		}

		.day-nav {
			margin-top:10px;
			margin-bottom:20px;
			text-align:center;
		}

		.day-nav li {
			list-style-type:none;
			color:#000;
			display:inline-block;
			font-weight:400;
			font-size:.8em;
			margin:0 15px 0 15px;
		}

		.day-nav li:hover {
			font-weight:700;
			color: $bright-red;
		}
	}

	.nav {
		.navbar li {
			list-style-type:none;
			display:inline-block;
			padding: 0 10px 0 10px;
			text-align: right;
			color: #000;
			font-family: "Raleway", sans-serif;
			text-transform:uppercase;
			font-weight:500;
			letter-spacing:1.5px;
		}	

		.navbar li.active {
			color: $bright-red;
			font-weight:700;
		}

		.navbar li:hover {
			@extend li.active;
		}

		.navbar {
			float:right;
		}

		.logo {
			padding: 0 10px 0 15px;
			color: #000;
			font-family: "Raleway", sans-serif;
			text-transform:uppercase;
			font-weight:700;
			letter-spacing:1.5px;
			float:left;
		}

		.logo:hover {
			color: $bright-red;
			font-weight:700;
		}

		.sidebar {
			margin-top:50px;
			border-right: 1px solid #ccc;
			height:100%;
		
			li {
				list-style-type:none;
				padding: 5px 30px 0 0;
				margin-bottom:15px;
				color: #000;
				font-family: "Raleway", sans-serif;
				text-transform:uppercase;
				font-size: .8em;
				font-weight:500;
				letter-spacing:1.5px;
				text-align:right;

			}

			li.active {
				border-left: 5px solid $bright-red;
				font-weight:700;
			}

			li:hover {
				font-weight:700;
				text-decoration:none;
			}
		}
	}

	.portrait li {
		width:200px;
		list-style-type:none;
		display:inline-block;
		margin: 10px;
	}

	.img-caption {
		width:200px;
		text-align:none;

		.caption {
			height:70px;
		}

		h6 {
			font-size:.8em;
			padding-left:10px;
			line-height:0;
		}

		h8 {
			font-size:.8em;
			padding-left:10px;
			top:-5px;
			line-height:0;
		}

	}

	.modal {
		width:60vw;
		margin-left:20vw;
		margin-right:auto;
		left:0px;
		border-radius:1px;

		h8 {
			font-size:.8em;
		}

		h9 {
			text-transform: none;
			font-family: 'Open Sans',sans-serif;
			letter-spacing:0px;
			font-style:italic;
			font-size:.8em;
			
		}

		.quote {
			margin:10px 0 10px 0;
		}

		.row {
			margin:10px 0 10px 0;
			padding: 0;
			margin-left:-30px;

			.span1 {
				font-weight:600;
				font-size:1em;
			}
		}

		#photo.span4 {
			width:275px;
		}

		.span4 {
			font-size:1em;
		}
	}

	.brother-container {
		padding:30px 20px 20px 30px;
	}

	.close {
		margin:10px 15px 10px 10px;
	}

}
